body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @apply bg-gray-200;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
  @apply bg-blue-600 p-2 text-white w-full rounded-md text-2xl font-bold;
}

.button:hover {
  @apply bg-blue-700;
}

.button:focus {
  @apply outline-none shadow-outline;
}
